# compiled output
dist
tmp
/out-tsc

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime*
*.iml
*.sw*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
